/* Add styles here */

:root {
  /* here variables goes */
  --color-primary: #cb5c47;
}


/* importar bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

.btn--primary {
  color: var(--color-primary);
}


/* tipografias */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* tipografias */
.personal {
font-family: 'Impact', 'Haettenschweiler', sans-serif;
}


.navbar-personalizado {
background-color: #A7A9BE;
}

body {
 background-color: #0F0E17;
}
