/* Add styles here */

:root {
    /* here variables goes */
    --color-primary: #cb5c47;
  }
  
  /* importar bootstrap */
  @import '~bootstrap/dist/css/bootstrap.min.css';
  
  .btn--primary {
    color: var(--color-primary);
  }
  

    .render {
        max-width: 300px;
    }

    