/* Add styles here */

:root {
  /* here variables goes */
  --color-primary: #cb5c47;
}


/* colores */
:root {
--color-secundary: red;
--color-secundary: blue;
--color-secundary: cyan;
--color-secundary: magenta;
--color-secundary: black;
--color-secundary: green;
--color-secundary: yellow;
--color-secundary: purple;
--color-secundary: pink;
--color-secundary: orange;
--color-secundary: brown;
--color-secundary: white;
--color-secundary: gray;
--color-secundary: turquoise;
--color-secundary: indigo;
--color-secundary: violet;
--color-secundary: gold;
--color-secundary: silver;
}



/* importar bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

.btn--primary {
  color: var(--color-primary);
}

.personal {
  display: flex;
}

/* tipografias */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url(Noto_Sans/static/NotoSans-Regular.ttf);
@import url(Playwrite_IT_Moderna/static/PlaywriteITModerna-Regular.ttf);


/* tipografias */
  
p.personal {
  font-family: 'Courier New', Courier, monospace;
}

h1.nombre {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}